@use "variable.scss" as *;

html, body {
    height: 100%;
    overflow: hidden;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;

    font-family: 'Poppins', sans-serif;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-bottom: 0.1rem; 
    background: rgb(5,171,233);
    background: linear-gradient(180deg, #05abe9 0%, #05abe9 30%,#035080 50%, #011e30 70%);
    background-repeat: no-repeat;
    background-size: 100%;
    background-size: cover;
    main {
        flex-grow: 1;
    }
    a {
        font-style: normal;
        color: inherit;
        text-decoration: none;
        transition: font-style 1.5s ease, transform 1.5s ease, font-size 1.5s ease;
        &:hover {
            
            font-style:italic;
            transform: scale(1.5);
            font-size: 1.2em;
        }
    }
    

    header {
        display: flex;
        flex-direction: row;
        color: $antiquewhite;
        ul {
            display: flex;
            flex-direction: row;
            flex-grow: 1;
            margin-left: 1rem;
            margin-right: 1rem;
            
            background-color: #8BC6EC;
            background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);

            border-radius: 30px;
            border-width: 3px;
            
            li{
                margin: auto;
                color: black;
            }
            
        }
    }
    footer {
        color: $antiquewhite;
        display: flex;
        flex-direction: row;

        ul {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            margin-left: 1rem;
            margin-right: 1rem;
            border-radius: 30px;
            border-width: 3px;
            
            li{
                margin: auto;
                color: $Honeydew;
            }
            
        }
    }
}
@media (max-width: 800px) {
    body header ul {
        flex-direction: column;
        align-items: center;

        li {
            margin-left: 0.1rem;
        }
    }
}
@media (max-height: 800px) {
    body, html{
        height: auto;
        min-height: 100vh;
    }
    body {
        display: block;
    }

}