@use "variable.scss" as *;
    
main {
    display: flex;
    flex-direction: column;
    color: $antiquewhite;
    margin-top: 5rem;
    h2 {
        align-self: center;
    }
    div {
        align-self: center;
        width: 100%;
        max-width: 960px; 
        margin: auto; 
    }
    
}
