@use "variable.scss" as *;

main {
    input {
        margin-left: 1.5rem;
        margin-top: 0.5rem;
        border-radius: 30px;

        &:hover {
            cursor: pointer;
        }

        padding: 0.3rem;
    }

    td,
    th {
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
        padding-left: 1.5rem;
    }

    .mainTable {
        max-width: 95%;
        margin: auto;
        display: block;
        overflow-x: auto;
        border-collapse: collapse;
        border-radius: 30px;

        td,
        th {
            border: solid $antiquewhite;
            text-align: center;
            padding: 1rem;
        }

        th {
            background-color: white;
            color: black;
        }

        td {
            color: black;
        }

        tr {
            transition-duration: 1000ms;
            background-color: $BackgroundColor;

            &:hover {
                font-weight: bold;
                transition-duration: 1000ms;

            }
        }

        input {
            border-radius: 30px;
            border-width: 2px;
        }

        button {
            border-radius: 30px;
        }

        .low {
            background-color: #d1e7dd;
        }

        .mid {
            background-color: #fff3cd;
        }

        .high {
            background-color: #ffacb3;
        }

        .lockedInputField {
            background-color: #f2f2f2;
            border: 1px solid #cccccc;
            color: #999999;
            cursor: not-allowed;
        }
    }

    .specificList {
        flex-grow: 1;
        align-self: center;
        height: fit-content;
        display: grid;
        grid-template-columns: repeat(2, minmax(30vw, 50vw));
        gap: 1.2rem;
        justify-content: center;
        padding: 1rem;

        @media (max-width: 900px) {
            grid-template-columns: repeat(1, minmax(15vw, 80vw));
        }
    }

    .specificList h3 {
        text-align: center;
        margin-bottom: 0.5rem;
        grid-column: span 1;
    }

    .specificList .mainTable {
        width: 100%;
        max-width: none;
        margin: 0 auto;
    }

    .addItemTable {
        justify-content: center;
        align-self: center;
        text-align: center;
        overflow-x: auto;
        border-collapse: collapse;
        border-radius: 30px;

        th {
            background-color: white;
            color: black;
            padding: 1rem;
        }

        tr {
            background-color: $antiquewhite;
        }

        input {
            margin: 0;
            margin: auto;
            padding: 1rem;
        }

        button {
            padding: 0.5rem;
            border-radius: 30px;
        }
    }

    .suggestions {
        max-width: fit-content;
        position: absolute;
        
        border: 1px solid #ccc;
        max-height: 150px;
        overflow-y: auto;
        overflow-x: hidden;
        background-color: $EnglishViolet;
        z-index: 1000;

        display: flex;
        flex-direction: column;
        text-align: center;
    }
    
    .suggestion {
        
        margin: 0.8rem;
        cursor: pointer;
        align-self: center;
        &:hover {
            color: black;
            font-weight: bold;
           text-decoration: underline;
        }
    }

    .deleteListButton {
        margin-left: 10px;
        padding: 5px 10px;
        background-color: #bc6868;
        color: white;
        border: none;
        cursor: pointer;
        border-radius: 5px;
        font-weight: bold;
    }
    
    .tableHeaderContainer {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .shouldBeHidden {
        display: none;
    }
}