//colors
/*
48435C English Violet
9893DA Tropical indigo
BBBDF6 Periwinkle
EDFFEC Honeydew
*/
$EnglishViolet: #48435C;
$TropicalIndigo: #9893DA;
$PeriWinkle: #BBBDF6;
$Honeydew: #EDFFEC;

$BackgroundColor:#05abe9;
$antiquewhite: #faebd7;
