//colors
/*
48435C English Violet
9893DA Tropical indigo
BBBDF6 Periwinkle
EDFFEC Honeydew
*/
$EnglishViolet: #48435C;
$TropicalIndigo: #9893DA;
$PeriWinkle: #BBBDF6;
$Honeydew: #EDFFEC;

$BackgroundColor:#05abe9;
$antiquewhite: #faebd7;

$image-base-size: 5vw;

$color-dark-gray: #2a2a2a;
$color-medium-gray: #3b3b3b;
$color-light-gray: #4c4c4c;
$color-blue-gradient-start: #8BC6EC;
$color-blue-gradient-end: #9599E2;
$color-black: black;

$border-radius-full: 50%;
$border-radius-large: 90px;
$border-radius-medium: 30px;

$margin-standard: 1rem;
$margin-small: 0.5rem;
$margin-auto: auto;
$margin-tiny: 0.1rem;

$transition-standard: 1s ease;
$transition-long: 1.5s ease;