/*
48435C English Violet
9893DA Tropical indigo
BBBDF6 Periwinkle
EDFFEC Honeydew
*/
html,
body {
  height: 100%;
}

header section img, footer section img {
  margin-top: 0.5rem;
  width: 5vw;
  height: auto;
  border-radius: 50%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  margin-bottom: 0.1rem;
  background: linear-gradient(180deg, #2a2a2a 0%, #3b3b3b 33%, #4c4c4c 66%);
  background-repeat: no-repeat;
  background-size: 100%;
  background-size: cover;
}
body main {
  flex-grow: 1;
}
body header {
  display: flex;
  flex-direction: row;
  color: #faebd7;
  align-items: center;
}
body header section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body header section img {
  border-radius: 90px;
}
body header ul {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  margin-left: 1rem;
  margin-right: 1rem;
  background-color: #8BC6EC;
  background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
  border-radius: 30px;
  border-width: 3px;
}
body header ul a {
  font-style: normal;
  color: inherit;
  text-decoration: none;
  transition: font-style 1.5s ease, transform 1.5s ease, font-size 1.5s ease;
}
body header ul a:hover {
  font-style: italic;
  transform: scale(1.5);
  font-size: 1.2em;
}
body header ul li {
  margin: auto;
  color: black;
}
body header .profileIcon {
  margin-right: 1rem;
  align-self: center;
  scale: 0.7;
}
body footer {
  color: #faebd7;
  display: flex;
  flex-direction: row;
}
body footer section {
  display: flex;
  flex-direction: column;
}
body footer section img {
  border-radius: 90px;
}
body footer ul {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-left: 1rem;
  margin-right: 1rem;
  border-radius: 30px;
  border-width: 3px;
}
body footer ul a {
  font-style: normal;
  color: inherit;
  text-decoration: none;
  transition: font-style 1.5s ease, transform 1.5s ease, font-size 1.5s ease;
}
body footer ul a:hover {
  font-style: italic;
  transform: scale(1.5);
  font-size: 1.2em;
}
body footer ul li {
  margin: auto;
  color: #EDFFEC;
}
body footer .logoutButton {
  margin-left: 0.5rem;
  align-self: center;
  padding: 0.5rem;
}

@media (max-width: 800px) {
  body header ul {
    flex-direction: column;
    align-items: center;
  }
  body header ul li {
    margin-left: 0.1rem;
  }
}
@media (max-height: 800px) {
  body,
  html {
    height: auto;
    min-height: 100vh;
  }
  body {
    display: block;
  }
}
main {
  display: flex;
  flex-direction: column;
  color: #faebd7;
  margin-top: 5rem;
}
main h2 {
  align-self: center;
}
main div {
  align-self: center;
  width: 100%;
  max-width: 960px;
  margin: auto;
}

main input {
  margin-left: 1.5rem;
  margin-top: 0.5rem;
  border-radius: 30px;
  padding: 0.3rem;
}
main input:hover {
  cursor: pointer;
}
main td, main th {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 1.5rem;
}
main .mainTable {
  max-width: 60%;
  margin: auto;
  display: block;
  overflow-x: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-collapse: collapse;
  border-radius: 8px;
  align-self: center;
}
main .mainTable td, main .mainTable th {
  border: 1px solid #faebd7;
  text-align: center;
  padding: 1rem;
}
main .mainTable th {
  background-color: white;
  color: black;
}
main .mainTable td {
  color: white;
  background-color: #05abe9;
}
main .mainTable tr {
  transition-duration: 1000ms;
}
main .mainTable tr:hover {
  font-weight: bold;
  transition-duration: 1000ms;
}
main .mainTable input {
  border-radius: 15px;
  border-width: 2px;
}
main .mainTable button {
  border-radius: 15px;
}
main .mainStatus {
  margin-left: 10%;
  margin-top: 1rem;
}
main .mainStatusText {
  margin-left: 10%;
  border: #faebd7;
  border-radius: 30px;
  border-width: 3px;
}

#loginMain {
  display: flex;
  flex-direction: column;
  background: linear-gradient(180deg, #ffffff 0%, #f0f0f0 33%, #cad1d5 66%);
  color: #48435C;
}
#loginMain #LoginHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  margin-top: auto;
}
#loginMain #LoginHeader section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#loginMain #LoginHeader section img {
  border-radius: 90px;
  margin: auto;
}
#loginMain h1 {
  color: #48435C;
}
#loginMain h2 {
  color: #48435C;
}
#loginMain h3 {
  align-self: center;
  margin-top: 0.5rem;
  color: #48435C;
}
#loginMain #loginForm {
  flex-grow: 1;
  align-self: center;
  display: flex;
  flex-direction: column;
  margin: 2rem;
}
#loginMain #loginForm input {
  align-self: center;
  margin: 2rem;
  padding: 1rem;
}
#loginMain #loginForm button {
  align-self: center;
  max-width: 5rem;
  padding: 1rem;
  border-radius: 90px;
}
#loginMain #LoginFooter {
  display: flex;
  flex-direction: row;
  align-self: center;
}/*# sourceMappingURL=style.css.map */